<div class="company">
  <div class="title">
    <%= @company.name %>
  </div>
  <div class="extra">
    <p>Город: <%= link_to @company.city.name, @company.city %></p>  
    <p>Категория: 
      <%= link_to @company.category.name, city_with_category_path(@company.city, @company.category) %>
    </p>
    <p>
      Рейтинг: <%= @company.rating %>
        <%= form_tag change_rating_url do %>
          <%= submit_tag "-" %>
          <%= submit_tag "+" %>
        <% end %>
    </p>
  </div>
  <div class="description">
    <%= @company.description %>
  </div>
  <div class="dateadd_company">
    Дата добавления: <%= date(@company) %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.id == @company.user_id %>
      <div class="action">
        <%= link_to "Редактировать", edit_company_path(@company) %>
        <%= link_to "Удалить", @company,  :method => "delete", :confirm => "Вы уверены?" %>
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'map' %>