<%= render @company %>
<div class="reviews_comments">
  <p class="title">Отзывы:</p>
  <%= render(@company.reviews) %>
</div>
<div id="block_add_review">
  <% if user_signed_in? %>
    <%= render(:file => 'reviews/new') %>
  <% else %>
     <p class="please_sign_up">Чтобы добавить отзыв, <%= link_to "зарегистрируйтесь", new_user_registration_path %> или <%= link_to "войдите", new_user_session_path %></p>
  <% end %>
</div>