<div id="add_photo_form">
  <div class="header">
    <%= @company.name %> / Добавление фотографии
  </div>
  <div class="form_add">
    <%= form_for([@company, @company.photos.new], :html => {:multipart => true}) do |f| %>
      <%= error_messages_for(@company.photos.new) %>
      <div class="photos">
        <div class="newPaperclipFiles">
          <%= f.file_field :image %>
        </div>
        <div class="newPaperclipFiles">
          <%= f.file_field :image %>
        </div>  
      </div>
      
      <div class="add_field">
        <a href="#" id="add_field">Добавить еще ...</a>
      </div>
      <div class="submit">
        <%= f.submit "Отправить" %>
      </div>
    <% end %>    
  </div>
</div>