<%= form_for(@city) do |f| %>
  <%= error_messages_for(@city) %>
  <div class="field">
    <%= f.label :name, "Город:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :permalink, "Постоянная ссылка:" %><br />
    <%= f.text_field :permalink %>
  </div>
  <div class="submit">
    <%= f.submit "Отправить" %>
    <!--
      TODO сделать ссылку отмена!
    -->
  </div>
<% end %>
