<%= form_for(@category) do |f| %>
  <%= error_messages_for(@category) %>
  <div class="field">
    <%= f.label :name, "Название:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :permalink, "Прямая ссылка:" %><br />
    <%= f.text_field :permalink %>
  </div>
  <div class="submit">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>