<%= div_for review do %>
  <% @user = User.find(review.user_id) %>
  <div class="head_info">
    <div class="avatar">
      <%= image_tag @user.avatar.url(:thumb) %>
    </div>
    <div class="name">
      <%= @user.name %>
    </div>
    <span class="date">
      <%= date(review) %>
    </span>
  </div>
  <div class="post">
    <%= review.post %>
  </div>
<% end %>