<div class="add_review">
  <%= form_for([@company, @company.reviews.new]) do |f| %>
    <div class="field">
      <input type="hidden" name="review[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="review[company_id]" value="<%= @company.id %>">    
      <p class="title_rev"><%= f.label :post, "Отзыв:" %></p>
      <%= f.text_area :post, :cols => 45, :rows => 10 %>
    </div>
    <div class="actions">
      <%= f.submit "Добавить" %>
    </div>
  <% end %>  
</div>