<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <%= ajaxful_rating_style %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo">
          Logotip
        </div>
        <div id="search_form">
          <div id="city_select">
            <span id="city_label">Город:</span>
            <select id="cities">
              <option>Астана</option>
              <option>Алматы</option>
              <option>Актау</option>
              <option>Актобе</option>
              <option>Атырау</option>
              <option>Жезказган</option>
              <option>Караганда</option>
              <option>Костанай</option>
              <option>Кокшетау</option>
              <option>Кызылорда</option>
              <option>Павлодар</option>
              <option>Петропавловск</option>
              <option>Семипалатинск</option>
              <option>Талдыкорган</option>
              <option>Тараз</option>
              <option>Уральск</option>
              <option>Усть-Каменогорск</option>
              <option>Шымкент</option>
            </select>
          </div>
          <div id="search_text">
            <span id="search_text_label">Что ищем?</span>
            <input type="text" id="search_text_value" value="Ресторан..." />
          </div>
          <div id="search_submit">
            <input type="button" class="button" value="Поиск" />
          </div>
        </div>
        <div id="account_login">
          <% if user_signed_in? %>
            <div class="login_area">
              <%= link_to('Настройки', edit_user_registration_path) %>
            </div>
            <div class="signup_area">
              <%= link_to "Выход", destroy_user_session_path, :method => "delete" %>
            </div>
          <% else %>
            <div class="login_area">
              <%= link_to "Вход", new_user_session_path %>
            </div>
            <div class="signup_area">
              <%= link_to "Регистрация", new_user_registration_path %>
            </div>          
          <% end %>
        </div>
        <div class="clear">
          
        </div>
        <div id="main_menu">
          <ul>
            <li><%= link_to "Главная",root_url %></li>
            <li><%= link_to "Города", cities_url %></li>
            <li><a href="#">Разное</a></li>
            <li><%= link_to "Добавить компанию", new_company_path %></li>
            <% if user_signed_in? %>
              <span class="user_info">
                Вы вошли как: <%= current_user.name %>
              </span>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="cities_menu">
        <%= render 'layouts/menu' %>
      </div>
      <div id="main_content">
        <%= flash_notice(notice) %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <div style="margin-top:10px; font-weight:bold;">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>